/*Navbar Main*/
.navbar {
    border-radius: 0;
}
.navbar-inverse {
    background-color: #C92222;
    border-color: #A31717;
}
.navbar .input-group {
    margin-bottom: 10px;
}
/*End Navbar Main*/
/*Body*/
.bc {
    margin-bottom: 60px;
}
.bc a:hover {
    text-decoration: none;
}
.bc .home .club,
.bc .home .related,
.bc .home .content {
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    position: relative;
    border-radius: 2px;
}
.bc .home .club {
    padding: 10px 20px;
    background: #f8f8f8;
}
.bc .home .related ul {
    padding: 10px 15px;
    background: #f8f8f8;
}
.bc .home .content {
    background: #fff;
}
.bc .home article {
    margin-top: 10px;
    display: inline-block;
}
.bc .home article:first-child {
    margin-top: 0;
}
/*End Body*/
/*Media*/
.media .media-ofject .img-responsive,
.bc .home .club .img-responsive {
    margin: 0 auto;
}
.bc .home .related {
    margin-top:20px;
}
.bc .home .related .top {
    background: #F3F3F3 ;
}
.bc .home .related .top .detail {
    padding: 5px 10px;
}
.bc .home .related ul li img {
    margin-right: 10px;
}
.bc .home .related ul li a {
    color: #666;
}
.bc .home .related ul li a:hover {
    text-decoration: none;
}
.bc .home .content .media .media-body {
    padding: 10px 20px;
}
.bc .home .content .media .media-ofject {
    padding: 10px 0;
}
.bc .home .content .media .media-ofject .thumbnail {
    border-radius: 0;
}
.bc .home .content .media .media-body .thumbnail {
    border-radius: 2px;
}
.bc .home .content .media .media-body .media-info {
    font-size: 11px;
}
.bc .home .content .media .media-body .action {
    margin: 15px 0 0 -5px;
    font-size: 11px;
    color: #868686;
}
.bc .home .content .media .media-body .action a:hover {
    text-decoration: none;
}
.bc .home .content .media .media-body .action-data {
    font-size: 12px;
}
.bc .home .content .media .media-body .action-data .comment {
    margin-top: 20px;
}
.bc .home .content .media .media-body .action-data label {
    padding-left: 0;
}
.bc .home .content .media .media-body .action-data label .thumbnail {
    border-radius: 0;
}
.bc .home .content .media .media-body .action-data .comment-list .comment-item {
    display: inline-block;
}
.bc .home .content .media .media-body .action-data .comment-list .comment-item .c-avatar {
    margin-right: 15px;
}
.bc .home .content .media .media-body .action-data .comment-list .comment-item .c-detail .name {
    text-decoration: none;
    font-weight: 400;
}
.bc .home .content .media .media-body .action-data .comment-list .comment-item .c-detail .c-meta {
    margin-top: 5px;
    font-size: 11px;
    color: #868686;
}
.bc .home .content .media .media-body .action-data .comment-list .comment-item .c-detail .c-meta li:first-child {
    padding-left:  0;
}
.bc .home .content .media .media-body .text {
    text-align: justify;
}
.bc .home .club .club-head {
    border-bottom: solid 1px rgba(255,255,255,1);
}
.bc .home .club .club-head h5 {
    font-weight: 500;
    margin-top: 0;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 1.125em;
    line-height: 1em;
    color: #666;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid 1px #ddd;
}
.bc .home .club .club-img {
    padding-top: 5px;
}
.bc .home .club .club-info {
    padding:10px 0;
}
.bc .flow .flow-head h5 {
    margin-top: 0;
}
.bc .flow ul li {
    padding:5px 7px;
}
/*End Media*/
