<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		Content Loading via Ajax <small>loading page content via ajax</small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li class="btn-group">
				<button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
				<span>Actions</span><i class="fa fa-angle-down"></i>
				</button>
				<ul class="dropdown-menu pull-right" role="menu">
					<li>
						<a href="#">Action</a>
					</li>
					<li>
						<a href="#">Another action</a>
					</li>
					<li>
						<a href="#">Something else here</a>
					</li>
					<li class="divider">
					</li>
					<li>
						<a href="#">Separated link</a>
					</li>
				</ul>
			</li>
			<li>
				<i class="fa fa-home"></i>
				<a href="index-2.html">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#"></a>
			</li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<div class="note note-success">
			<h4 class="block">Ajax Contents</h4>
			<p>
				 This page demostrates the page content loading via ajax. To try it please click on the sidebar menu items
			</p>
			<p>
				<span class="label label-danger">
				NOTE: </span>
				&nbsp;This sample does not work if you opened the page directly from the browser since ajax calls require to receive the response from a web server.
			</p>
		</div>
		<a href="layout_ajax_content_3.html" class="btn blue ajaxify">
		Load another ajax content </a>
	</div>
</div>
<!-- END PAGE CONTENT-->